
<div class="buttons_header">
    <ul>
     
        <%= link_to 'Replace this with logo', home_AdminModule_path, class:"home_section" %>

        <%= link_to 'Manage Students', account_students_path, class:"student_section" %>

        <%= link_to 'Manage Teachers', account_teachers_path, class:"teacher_section" %>
        

    </ul>
</div>
