<div id="<%= dom_id account_teacher %>">
  <p>
    <strong>Name:</strong>
    <%= account_teacher.name %>
  </p>

  <p>
    <strong>Account name:</strong>
    <%= account_teacher.account_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account_teacher.password %>
  </p>

</div>
