<h1>Editing account teacher</h1>

<%= render "form", account_teacher: @account_teacher %>

<br>

<div>
  <%= link_to "Show this account teacher", @account_teacher %> |
  <%= link_to "Back to account teachers", account_teachers_path %>
</div>
